<a href="https://colab.research.google.com/github/SantuMartire/TT-2C2025-Data-Analitycs-Notebooks/blob/main/Clase_1/Clase_1_Actividad_2_Repaso_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Propiedades de Tipos de Datos

Repasemos cuáles son los tipos de datos nativos en Python más utilizados.

## Tipos de Datos Simples

* **int:** Números enteros. Ejemplo: `x = 5`
* **float:** Números de punto flotante. Ejemplo: `y = 3.14`
* **str:** Cadenas de texto. Ejemplo: `nombre = "Alice"`
* **bool:** Valores booleanos (`True`/`False`). texto en negrita

## Tipos de Datos Complejos

* **list:** Colección ordenada y mutable. Ejemplo: `lista = [1, 2, 3]`

In [ ]:
lista = [1,2,3]
lista.append(4)
print(lista)

tuple: Colección ordenada e inmutable. Ejemplo: tupla = (1, 2, 3)

In [ ]:
tupla = (1, 2, 3)

dict: Colección de pares clave-valor. Ejemplo: diccionario = {"clave1": "valor1", "clave2": "valor2"}

In [ ]:
diccionario = {"clave1": "valor1", "clave2": "valor2"}

* **set:** Colección desordenada de elementos únicos. Ejemplo: {1, 2, 3}

In [ ]:
set = {1,2,3}
set.add(4)
print(set)
set.add(3)
print(set)

{1, 2, 3}

* **frozenset:** Colección desordenada de elementos únicos e inmutable. Ejemplo: `frozenset({1, 2, 3})`

In [ ]:
frozenset({1, 2, 3})

In [ ]:
# Ejercicio de lista

texto

In [ ]:
# Ejercicio de diccionario

Alicia

# 2. OPERADORES
Son símbolos que se aplican a uno o varios operandos en una expresión o instrucción con el fin de obtener cierto resultado

###2.1. OPERADORES ARITMÉTICOS


- suma +
- resta -
- multiplicación *
- potencia **
- división /
- división entera //
- módulo (resto de la división) %

###2.2. OPERADORES DE ASIGNACIÓN


Dada una variable, puedo asignarle un valor, escribiendo


a = 5 # el operador **igual a**


a += 4 # toma el valor actual de a y le suma 4 -> ahora vale 9  


a -= 3 # toma el valor actual de a y le resta 3 -> ahora vale 6


a *= 2 # toma el valor actual de a y lo multiplica por 2 -> 12


a /= 3


a //=3


a %= 3

###2.3. OPERADORES RELACIONALES


Devuelven un valor booleano. Se usan para crear los condicionales y poder alterar el flujo de nuestro programa
Dados a y b

a == b # si son iguales -> Devuelve True o False

a != b # a no es igual a b

a < b # a es menor que b

a > b # a es mayor que b

a <= b # a es menor o igual que b

a >= b # a es mayor o igual que b

###2.4. OPERADORES LÓGICOS o BOOLEANOS



and # evalúa si ambos operandos son True

or # evalúa si al menos uno de los operandos es True

not # cambia el valor del operando

###2.5. OPERADORES DE PERTENENCIA



Devuelve True o False dependiendo de si un elemento pertenece o no a una secuencia de datos

IN

NOT IN

#Ejercicios



1.   Elemento de la lista
2.   Elemento de la lista


1. Crear una lista con varios tipos de datos y acceder a sus elementos.

In [1]:
mi_lista = ['Hola', 10, 3.14, True, [1, 2, 3]]
print(mi_lista)

print(f'El primer elemento es: {mi_lista[0]}') # Accede al primer elemento (índice 0)
print(f'El tercer elemento es: {mi_lista[2]}') # Accede al tercer elemento (índice 2)
print(f'El último elemento es: {mi_lista[-1]}') # Accede al último elemento (índice -1)

['Hola', 10, 3.14, True, [1, 2, 3]]

2. Crear un diccionario y acceder a sus valores por clave.

In [3]:
mi_diccionario = {
    'nombre': 'Juan',
    'edad': 30,
    'ciudad': 'Madrid',
    'es_programador': True,
    'habilidades': ['Python', 'SQL', 'Git']
}

print(f'Nombre: {mi_diccionario["nombre"]}') # Accede al valor asociado a la clave 'nombre'
print(f'Edad: {mi_diccionario["edad"]}')     # Accede al valor asociado a la clave 'edad'

Nombre: Juan
Edad: 30

3. Generar una lista con los números del 1 al 5. Crear otra lista con el cuadrado y otra con la raíz cuadrada de esos números

In [4]:
# Importar math y usar metodos pow y sqrt
# Importar la librería math para usar sus funciones matemáticas
import math

# 1. Generar una lista con los números del 1 al 5
numeros = list(range(1, 6))
print(f"Lista de números del 1 al 5: {numeros}")

# ---

# 2. Crear una lista con el cuadrado de cada número
# Se usa un bucle for para iterar sobre la lista 'numeros'
cuadrados = []
for numero in numeros:
    cuadrado = math.pow(numero, 2)
    cuadrados.append(int(cuadrado)) # Convertimos a entero para un resultado más limpio

print(f"Lista con los cuadrados de los números: {cuadrados}")

# ---

# 3. Crear una lista con la raíz cuadrada de cada número
# Se usa otro bucle for para iterar nuevamente
raices_cuadradas = []
for numero in numeros:
    raiz = math.sqrt(numero)
    raices_cuadradas.append(raiz)

print(f"Lista con la raíz cuadrada de los números: {raices_cuadradas}")

Lista de números del 1 al 5: [1, 2, 3, 4, 5]
Lista con los cuadrados de los números: [1, 4, 9, 16, 25]
Lista con la raíz cuadrada de los números: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

4. Encontrar el mínimo y máximo de una lista

In [ ]:
# import math
numeros = [12, 7, 25, 3, 19]
minimo = min(numeros)
maximo = max(numeros)
print(f'El número mínimo es: {minimo}')
print(f'El número máximo es: {maximo}')

5. Calcular el promedio de los números de una lista

In [10]:
# import math
notas = [7.5, 8.0, 6.5, 9.0, 10.0]

suma = 0
for i in range(notas.len()):
  suma += notas[i]

promedio = suma / len(notas)
print(f'El promedio es: {promedio}')
#

AttributeError: 'list' object has no attribute 'len'